<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/soldiersFiltersTableStyles.css">
    <script src="/views/functions/cookie.js"></script>
</head>
<body>
    <% include ../../partials/user_nav.ejs %>  <!-- Top page navigation bar -->
    <script>
        var part = document.getElementById("nav-right");
        part.innerHTML += "<a class='navbar-brand' href='/soldiersFiltersTable'>Command Center</a>";
        <% include ./onLoadAndLocalVariables.js %> // function hat run on Page Load, and some Local variables for real time management.
       <% include ./soldiersTableBuilder.js %> // functions that builds mainSoldiersTable.
       <% include ./treatmentsTableBuilder.js %> // functions that builds soldier treatments table.
       <% include ./filtersSideBarBuilder.js %> // functions that builds and updates the sidebar filters panel.
       <% include ./evacuationRequestHandler.js %> // functions that updates the evacuations request status in the soldiers table and database.
       <% include ./filteringRequests.js %> // functions that manages put/remove filters requests.
       <% include ./locationFilteringConfigurations.js %> // functions that builds and configures the lcoations according to the long/lat properties.
    </script>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="container">
                <h4 id="chosenFiltersText" style="visibility:hidden">Click to remove chosen filter </h4>
                <ul id="filtersBarId" class="list-inline"></ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <center>
                <h4>Display By</h4>
                <div id="filtersMenu" class="vertical-menu"></div>
            </center>
        </div>
        <div class="col-md-9">
            <center>
                <h2> Soldiers Database </h2>
                <div id="mainSoldiersTable" style="overflow:scroll ; height:400px; "></div>
            </center>
            <center> <h3 id="chosenSoldiersText" style="visibility:hidden"> Chosen Soldiers  </h3></center>
            <div class="container">
                <center>  <ul id="filtersTable" class="list-inline"></ul> </center>
            </div>
            <div class="col-md-1"> </div>
        </div>
    </div>
</body>
</html>