#backGrndPic {
    background-image: url('/background_o40.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

#users_database {
    width: 244px;
    height: 182px;
}
