.vertical-menu {
    width: 100px;
}

    .vertical-menu a {
        background-color: #1B9CC0;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }

        .vertical-menu a:hover {
            background-color: #ccc;
        }

        .vertical-menu a.active {
            background-color: #4CAF50;
            color: white;
        }

body {
    background: url('/background.png') center top no-repeat;
}
