.vertical-menu {
    width: 100px;
}

    .vertical-menu a {
        background-color: #1B9CC0;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }

        .vertical-menu a:hover {
            background-color: #ccc;
        }

        .vertical-menu a.active {
            background-color: #4CAF50;
            color: white;
        }

.caret-right {
    float: right;
    display: inline-block;
    vertical-align: middle;
    border-left: 8px solid;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    margin-top: 5px;
    margin-right: -7px;
}

.dropdown-menu {
    left: 110px;
    top: -30px;
}

.btn {
    width: 100px;
}
.popover-content {
    background-color: #1B9CC0;
    text-align: center;
}

html {
    background: url('/background.png') center top no-repeat;
}
