<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<link rel="stylesheet" href="/stylesheets/map.css">

    <script src="/views/functions/cookie.js"></script>

</head>
<body>

    <!-- General page header -->
    <% include ../../partials/user_nav.ejs %>
    
    <!-- Script to add specific navigation button to page header -->
    <script>
        var part = document.getElementById("nav-right");
        part.innerHTML += "<a class='navbar-brand' href='/map'>Map</a>";
    </script>

    <center><h1>  Patient Map <br> </h1></center>

	<!-- The div of the map -->
	<div id="content">
		<div id="map"></div>
	</div>

	<!-- The div of the top-left-corner floating window to show marker information on the map -->
	<div id="info"></div>

    <!-- Map script -->
	<script src="/views/pages/map_page/map.js"></script>
	
    <!-- Turn nodejs parameters to variables so that the map script will be able to interact with them  -->
	<script>
	var soldiersArray = [];
	<% soldiers.forEach(function(doc) { %>
		soldiersArray.push(<%- JSON.stringify(doc) %>);
	<% }); %>

	var doctorsArray = [];
	<% users.forEach(function(doc) { %>
		doctorsArray.push(<%- JSON.stringify(doc) %>);
	<% }); %>
	</script>

    <!-- Google marker clusterer API (combines close markers) -->
	<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>
    <!-- Google Map API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEaOzdRahKL3nXRnZA0n-yK1hB2C828SQ&callback=myMap"></script>

</body>
</html>
