<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <script>
		function isDoctor(){
        	var container = document.getElementById("divisions");
			var divisions = new Array();
            <% docs.forEach(function(doc) { %>
				var doc = <%- JSON.stringify(doc) %>;
				if (!divisions.includes(doc.division)){
					divisions.push(doc.division);
				}
			<% }); %>
			container.appendChild(document.createElement("br"));
			container.appendChild(document.createTextNode("Choose Divisions Doctor is in charge of:"));
			container.appendChild(document.createElement("br"));
			divisions.forEach(function(div) {
				var input = document.createElement("input");
				input.type = "checkbox";
				input.name = "units";
				input.value = div;

				container.innerHTML += '<label class="checkbox-inline">';
				container.appendChild(input);
				container.innerHTML += div + '</label>';
			});
			return false;
		}

		function isAgam(){
			var container = document.getElementById("divisions");
			container.innerHTML = "";
		}
    </script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin_main">Home </a>
                <a class="navbar-brand" href="/equip">Users Managment</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="background-image: url('/background.png'); background-repeat: no-repeat ; background-position: center ">
        <center><h1>  Add User </h1></center>

        <form name="addUser" action="/addUser" method="post">
            <div class="form-group">
                <label><b>Username</b></label>
                <input type="text" class="form-control" placeholder="Enter Username" name="user" required>
            </div>

            <div class="form-group">
                <label><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
            </div>

            <div class="radio">
                <label><input type="radio" name="type" value="doctor">Doctor</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="type" value="agam">Agam</label>
            </div>

            <div id="divisions"></div>

            <br><br>

            <input type="submit" class="btn btn-primary" value="Add">
        </form>

    </div>

    <script>
		var type = document.addUser.type;
			type[0].onclick = function() {
				isDoctor();
			};
			type[1].onclick = function() {
				isAgam();
			};
    </script>

</body>
</html>
