<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://firstaidbracelet.herokuapp.com/">First Aid Bracelet</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="https://firstaidbracelet.herokuapp.com/admin">Admin Page</a></li>
    </ul>
  </div>
</nav>  

<div class="container">
    <h2>Treatments</h2>  
    <ul id="treatments" class="list-group">
        <% docs.forEach(function(doc) { %> 
        <a href="#" data-toggle="popover" class="list-group-item" data-html="true" data-content="<img src='https://firstaidbracelet.herokuapp.com/medic-logo.png />"> <%= doc.name%> </a>
        <% }); %>  
    </ul>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script> 

<h1> Insert new item </h1>

<div id="printableArea">
      <h1></h1>
</div>

<form onsubmit="myFunction()">
  Enter name of item: <input type="text" name="fname" id="name">
  Enter type of item: <input type="text" name="fname" id="type">
  Enter id of item: <input type="text" name="fname" id="item_id">
  <input type="submit" value="Submit">
</form>

<script>
function myFunction() {
    document.getElementById("printableArea").innerHTML =  document.getElementById("name").value;
}
</script>

</body>
</html>
