<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/doctorStyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>


<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://firstaidbracelet.herokuapp.com/">First Aid Bracelet</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="https://firstaidbracelet.herokuapp.com/admin">Admin Page</a></li>
    </ul>
  </div>
</nav>  

<div class="container">
  <a href="#" data-toggle="popover" data-img="/Medical-ArmyIcon.png">Image1</a>
  <a class="btn" rel="popover" data-img="/Medical-ArmyIcon.png">Image2</a>
  <a href="#" data-toggle="popover" data-html="true" data-content="<img src='https://firstaidbracelet.herokuapp.com/Medical-ArmyIcon.png width='200'/>"> HERE</a>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>

<div class="container">
  <h2><center> Treatments <center></h2>         
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
      </tr>
    <ul>
    <% docs.forEach(function(doc) { %>        
    </thead>
    <tbody>
      <tr>
        <td><%= doc.name%></td>
      </tr>        
    <% }); %>
    </tbody>
  </table>
  </ul>
</div>


</body>
</html>
