<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="/stylesheets/mainPageStyles.css">  
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://firstaidbracelet.herokuapp.com/">First Aid Bracelet</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="https://firstaidbracelet.herokuapp.com/admin">Admin Page</a></li>
    </ul>
  </div>
</nav>  

<div class="container">
  <h2><center> Treatments <center></h2>  
  <ul class="list-group">       
  <% docs.forEach(function(doc) { %>
     <a href="#" data-toggle="popover" class="list-group-item" data-html="true" data-content="<img src='https://firstaidbracelet.herokuapp.com/medic-logo.png width='183' height='249' />"> <%= doc.name%> </a>
  });
  </ul>

</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});

</body>
</html>
