<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>


<!-- top of the page, bootstrap navigation bar -->
<body>

<div class="row">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">First Aid Bracelet</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/admin">Admin Page</a></li>
    </ul>
  </div>
</nav>  


<div class="row">

<!-- Database Treatments in MongoDB -->
<h1> Insert new item </h1>

<!-- adding all the fields to Database posts back to index.js, where we are adding 
the item to the database using MongoDB functions -->


<form action="/admin" method="POST" onsubmit="">
  Enter here: 
  <input type="text" name="name" placeholder="name" id="name">
  <input type="text" name="type" id="type" placeholder="type">
  <input type="text" name="itemId" id="itemId" placeholder="identification">
  <button type="submit">Submit</button> 
</form>

</div>


<!-- shows the database Treatments (name and picture)-->

<div class="container">
    <h2>Treatments</h2>  
    <ul id="treatments" class="list-group">
        <% docs.forEach(function(doc) { %> 
        <a href="#" data-toggle="popover" class="list-group-item" data-html="true" data-content="<img src='https://firstaidbracelet.herokuapp.com/medic-logo.png />"> <%= doc.name%>  <%= doc.type%>   <%= doc.equipment_id%> </a>
        <% }); %>  
    </ul>
</div>

</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>


</body>
</html>
