<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h2>YOU DID IT</h2>

<script>
function validateForm() {
	//var login = document.forms["loginForm"];
    var uname = loginForm["uname"].value;
	var psw = login["psw"].value;
    alert("All fields must be filled out");
}
</script>

<button onClick = "validateForm()">HELL</button>

</body>
</html>
