<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">First Aid Bracelet</a>
    </div>
    <ul class="nav navbar-nav">
		<form name="loginForm" action = "/logged" method = "post">
			<input type="hidden" name="currentUser" value=<%=user%>>
			<input type="hidden" name="type" value=<%=type%>>
			<button class="btn btn-default navbar-btn" type="submit">Admin Page</button>
        </form>
    </ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/login"> Back To Login</a></li>
	</ul>
  </div>
</nav>  

<div class="container" style="background-image: url('/background.png'); background-repeat: no-repeat ; background-position: center ">
	<center><h1>  Add User </h1></center>

<form name="addUser" action = "/addUser" method = "post">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="user" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required><br>

	<input type="radio" name="type" value="doctor" checked>Doctor<br>
	<input type="radio" name="type" value="agam">Agam<br>
	
	<input type="hidden" name="currentUser" value=<%=user%>>
	<input type="hidden" name="type" value=<%=type%>>

    <input type="submit" value="Add">
</form>

</body>
</html>
