<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/doctorStyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>


<body>

<!-- <% include ../partials/nav.ejs %> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://firstaidbracelet.herokuapp.com/">First Aid Bracelet</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="https://firstaidbracelet.herokuapp.com/doctor">Doctor Login</a></li>
    </ul>
  </div>
</nav>  


<script>
function validateForm() {
	alert("0");
	var login = document.forms["loginForm"];
    var uname = login["uname"].value;
	var psw = login["psw"].value;
	if (uname == "" || psw == "") {
       alert("All fields must be filled out");
	   return false;
	}
	alert("1");
	<% if (docs) { %>
		alert("docs is here!");
	<% } else { %>
		alert("BOOHOO");
	<% } %>
}
</script>

<h2>Doctor Login</h2>

<form name="loginForm" action = "/db" method = "post" onsubmit="return validateForm()">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <input type="button" onClick = "validateForm()" value="Login">
  </div>
</form>

</body>
</html>
