<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/IDFbadge.png">
    </a>
    <h1>First Aid Bracelet Site</h1>
    <p> That's one small step for man, one giant leap for mankind ~ Niel Armstrong</p>
    <a type="button" class="btn btn-lg btn-default" href="https://firstaidbracelet.herokuapp.com/db"><span class="glyphicon glyphicon-flash"></span> Our Database</a>
  </div>
</div>

</body>
</html>
