<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <style type="text/css">
  .mainbody {
    width: 100%;
    height: 100%;
  }

  .logos {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 0 0 0 15%;
  }

  .idf-logo-image {
    width: 285px;
  }
  </style>

<div class="mainbody">
  <div class="jumbotron text-center">
  <div class="logos">
    <a href="/" class="idf-logo-link">
      <img class="idf-logo-image" src="/IDFbadge.png">
    </a>
    <a href="/" class="medic-logo-link">
      <img src="/medic-logo.png">
    </a>
  </div>
  <div class="clearfloat"></div>
    <h1>First Aid Bracelet Site</h1>
    <p> That's one small step for man, one giant leap for mankind ~ Niel Armstrong</p>
    <a type="button" class="btn btn-lg btn-default" href="https://firstaidbracelet.herokuapp.com/db"><span class="glyphicon glyphicon-flash"></span> Our Database</a>
  </div>
</div>

</body>
</html>
