<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <style type="text/css">
  .mainbody {
    width: 100%;
    height: 100%;
  }

  .lang-logo {
    width: 50%;
    float: left;
  }
  .medic-logo {
    width: 50%;
    float: left;
  }

  </style>
<div class="mainbody">
  <div class="jumbotron text-center">
    <a href="/" class="lang-logo">
      <img src="/IDFbadge.png">
    </a>
    <a href="/" class="medic-logo">
      <img src="/medic-logo.png">
    </a>
    <h1>First Aid Bracelet Site</h1>
    <p> That's one small step for man, one giant leap for mankind ~ Niel Armstrong</p>
    <a type="button" class="btn btn-lg btn-default" href="https://firstaidbracelet.herokuapp.com/doctor"><span class="glyphicon glyphicon-flash"></span> Our Database</a>
  </div>
</div>

</body>
</html>
