<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    .mainbody {
      width: max-width;
      height: max-height;
      background-color: #b475e5;
    }

    .logos {
      width: 300px;
      height: 300px;
      display: flex;
      margin: 0 0 0 32.5%;
    }

    .idf-logo-image {
      width: 285px;
    }

    .agam-logo-image {
      width: 182px;
    }
  </style>

  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="mainbody">
    <div class="jumbotron text-center">
      <div class="logos">
       
        <a href="/" class="idf-logo-link">
          <img class="idf-logo-image" src="/IDFbadge.png">
        </a>
        <a href="/" class="medic-logo-link">
          <img src="/medic-logo.png">
        </a>
      </div>
     
      <h1>First Aid Bracelet Site</h1>
      <p> That's one small step for man, one giant leap for mankind ~ Niel Armstrong</p>
      <a type="button" class="btn btn-lg btn-default" href="https://firstaidbracelet.herokuapp.com/db"><span class="glyphicon glyphicon-flash"></span> Our Database</a>
      
      <div class="continue">
        <a href="/doctor" class="doctor">
            <img class="doctor-logo-image" src="/manDoctor.jpg">
        </a>
        <a href="/" class="agam-logo-link">
            <img class="agam-logo-image" src="/track-map.png">
        </a>
      </div>
   
    </div>
  </div>

</body>
</html>
