<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/doctorStyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!-- <% include ../partials/nav.ejs %> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">First Aid Bracelet</a>
    </div>
  </div>
</nav>  

<script>
function validateForm() {
	var login = document.forms["loginForm"];
    var uname = login["currentUser"].value;
	var psw = login["psw"].value;
	var type = login["type"].value;
	if (uname == "" || psw == "") {
       alert("All fields must be filled out");
	   return false;
	}
	<% docs.forEach(function(doc) { %>
		var check_type = <%- JSON.stringify(doc.type) %>;
		var check_uname = <%- JSON.stringify(doc.user) %>;
		var check_psw = <%- JSON.stringify(doc.password) %>;
		if (check_type == type && check_uname == uname && check_psw == psw){
			document.cookie = "user=" + uname;
			document.cookie = "type=" + type;
			return true;
		}
	<% }); %>
	alert("wrong username/password/user type");
	return false;
}
</script>

<div class="page-header">
	<center><h2> Login <br> </h2></center>
</div>

<form name="loginForm" action = "/logged" method = "post" onsubmit="return validateForm()">
	<div class="imgcontainer">
		<img src="/cas-padlock-icon.png" alt="Login" class="avatar" style="width:128px;height:128px;">
	</div>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="currentUser" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

	<div class="radio">
		<input type="radio" name="type" value="doctor" checked>Doctor<br>
	</div>
	<div class="radio">
		<input type="radio" name="type" value="agam">Agam<br>
    </div> 
	
    <input type="submit" value="Login">
  </div>
</form>

</body>
</html>
