<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/mainPageStyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>

<body>

<div class="row" >" "  </div>
<div class="row" >" "  </div>
<div class="row" >" "  </div>
<div class="row" >
<div class="col-md-2"><center>
<div class="vertical-menu pull-right" >
<center>
<h4>Display By</h4>
  
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Division 
    <span class="caret-right"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Golani</a></li>
      <li><a href="#">Givati</a></li>
      <li><a href="#">Nahal</a></li>
       <li><a href="#">Kfir</a></li>
       <li><a href="#">Zanhanim</a></li>
    </ul>
  </div>
    <h1></h1>
   <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Unit 
    <span class="caret-right"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">51</a></li>
      <li><a href="#">Shaked</a></li>
      <li><a href="#">Bazelet</a></li>
    </ul>
  </div>
    <h1></h1>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Location 
    <span class="caret-right"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Some location</a></li>
      <li><a href="#">Some other locaion</a></li>
    </ul>
  </div>
  <h1></h1>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Status 
    <span class="caret-right"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Light</a></li>
      <li><a href="#">Average</a></li>
      <li><a href="#">Heavy</a></li>
       <li><a href="#">K.I.A</a></li>
    </ul>
  </div>
  <h1></h1>
   <a href="#">Clear all</a>
  <center>
  <center>
</div>
</div>
<div class="col-md-10"><center><h1></h1><center></div>
</div>

</body>

</html>