<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style>
	#info {
			background-color: white;
			border: 2px solid black;
			top: 175px;
			left: 30px;
			min-height: 60px;
			padding: 10px;
			position: absolute;
			display: none;
		}
	</style>

    <script>
	function getCookie(cname) {
		var name = cname + "=";
		var decodedCookie = decodeURIComponent(document.cookie);
		var ca = decodedCookie.split(';');
		for(var i = 0; i <ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
    </script>

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">First Aid Bracelet</a>
				<a class="navbar-brand" href="/admin_main">User</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"> Logout</a></li>
            </ul>
        </div>
    </nav>

    <center><h1>  Patient Map <br> </h1></center>

	<div id="content" style="width:100%;height:100%;background:black">
		<div id="map" style="position:absolute;top:125px;left:0px;right:0px;bottom:0px;"></div>
	</div>

	<div id="info"></div>

    <script>
function myMap() {
	var mapOptions = {
		center: new google.maps.LatLng(32.777739, 35.0219852),
		zoom: 10,
		mapTypeId: google.maps.MapTypeId.TERRAIN
	}
	var map = new google.maps.Map(document.getElementById("map"), mapOptions);

	var divisions = getCookie("units");
	var type = getCookie("type");
	var markers = new Array();
	<% docs.forEach(function(doc) { %>
		var doc = <%- JSON.stringify(doc) %>;
		if(doc.hasOwnProperty('location') && (type == "admin" || divisions.includes(doc.division))) {
			var pos = new google.maps.LatLng(doc.location.longtitude, doc.location.latitude);
			var marker = new google.maps.Marker({position:pos, url: '/admin_main', map: map});
			var pair = {doc: doc, marker: marker}
			markers.push(pair);
		}

		
	<%})%>

	var markerCluster = new MarkerClusterer(map, [], {
		imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m',
		zoomOnClick: false
	});

	markers.forEach(function(pair) {
		
		markerCluster.addMarker(pair.marker);

		var infowindow = new google.maps.InfoWindow({
			content: pair.doc.division
		});
		
		pair.marker.addListener('mouseover',function() {
			mouseOut();
			infowindow.open(map, pair.marker);
			mouseOver(pair);
		});

		pair.marker.addListener('mouseout',function() {
			infowindow.close();
			mouseOut();
		});
	})

	markerCluster.addListener('mouseover', function(cluster){
		mouseOut();
		document.getElementById('info').innerHTML = "";
		var list = cluster.getMarkers();
		markers.forEach(function(pair) {
			if (list.includes(pair.marker)){
				mouseOver(pair);
			}
		});
    });

	markerCluster.addListener('mouseout', function(cluster){
		mouseOut();
    });
	
}

function mouseOver(pair){
	var bg_type = "";
	switch (pair.doc.injury_stat) {		
		case "light": bg_type = "bg-success"; console.log("light");break;
		case "average": bg_type = "bg-info";console.log("average");break;
		case "heavy": bg_type = "bg-warning";console.log("heavy");break;
		case "kia": bg_type = "bg-danger";console.log("kia");break;
	}
	document.getElementById('info').innerHTML += "<p>" + pair.doc.bracelet_id + ": <span class='" + bg_type + "'>" + pair.doc.injury_stat + "</span></p>";
	document.getElementById('info').style.display= "block";
}

function mouseOut(){
	document.getElementById('info').style.display= "none";
	document.getElementById('info').innerHTML = "";
}
    </script>

	<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEaOzdRahKL3nXRnZA0n-yK1hB2C828SQ&callback=myMap"></script>

</body>
</html>
