<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>MongoDB</h2>

<ul>
    <% docs.forEach(function(doc) { %>
        <li> <%= doc['Rank']%> </li>
        <li> <%= doc.Rank%> </li>
    <% }); %>
</ul>


</div>

</body>
</html>
